<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/../Logs/${shortdate}" />
    <targets>
      <target name="module" xsi:type="File" createDirs="true" layout="${longdate} ${message}" fileName="${logDirectory}/module.log" />
      <target name="requests" xsi:type="File" createDirs="true" layout="${longdate} ${message}" fileName="${logDirectory}/requests.log" />
    </targets>
    <rules>
      <logger name="module" minlevel="Trace" writeTo="module" />
      <logger name="requests" minlevel="Trace" writeTo="requests" />
    </rules>
  </nlog>
</configuration>